.FooterContainer {
    background-color: #B6EFD4;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
    text-align: center;
    z-index: 9999;
}

.phantom {
    display: block;
    padding: 20px;
    height: 35px;
    width: 100%;
}